---
import { getCollection } from "astro:content";

import Layout from "@/components/astro/layout/Layout.astro";
import AppLink from "@/components/astro/ui/AppLink.astro";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.isDraft)
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const title = "My Personal Thoughts — Namchee";
const description =
  "Food for thoughts or just passing whims in form of well-written posts that covers various topics.";
---

<Layout title={title} description={description} og="og-posts">
  <div class=":uno: grid grid-cols-12 gap-4">
    <header class=":uno: col-start-1 col-end-13 md:col-end-4">
      <div class=":uno: sticky top-12">
        <h1
          class=":uno: text-heading font-semibold transition-colors text-2xl tracking-tight"
        >
          Posts
        </h1>
      </div>
    </header>

    <div
      class=":uno: col-start-1 col-end-13 mt-8 md:mt-0 md:col-start-5 space-y-16"
    >
      <ul class=":uno: space-y-4">
        {
          posts.map((post) => (
            <li>
              <div class="flex flex-col md:flex-row justify-between">
                <div>
                  <AppLink
                    href={`/posts/${post.slug}`}
                    class=":uno: text-heading/85 font-semibold transition-colors hover:text-heading focus:text-heading"
                  >
                    {post.data.title}
                  </AppLink>

                  <p class=":uno: text-sm leading-[1.75] hidden md:block">
                    {post.data.subtitle}
                  </p>
                </div>

                <time class="flex-shrink-0 leading-[1.75]">
                  {new Date(post.data.publishedAt).toLocaleString("en-GB", {
                    year: "2-digit",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
