---
import { Icon } from "astro-icon/components";

import NavigationItem from "@/components/vue/NavigationItem.vue";
import CommandMenu from "@/components/vue/CommandMenu.vue";

import ThemeSwitcher from "./ThemeSwitcher.astro";

interface Props {
  posts: { title: string; href: string }[];
}

const links = [
  {
    href: "/",
    label: "Home",
    icon: "lucide:home",
  },
  {
    href: "/posts",
    label: "Posts",
    icon: "lucide:newspaper",
  },
  {
    href: "/library",
    label: "Library",
    icon: "lucide:library-big",
  },
];

const currentPath = Astro.url.pathname;
const { posts } = Astro.props;
---

<nav
  class=":uno: flex fixed transition-colors border shadow-lg rounded-md bottom-8 left-1/2 translate-x-[-50%] bg-navigation-background border-navigation-border z-10"
>
  {
    links.map((link, idx) => (
      <NavigationItem
        label={link.label}
        className={`${idx === 0 ? "ml-1" : ""} ${currentPath.match(`${link.href}/.?`) || currentPath === link.href ? "text-heading bg-navigation-accent" : ""}`.trim()}
        href={link.href}
        client:load
      >
        <Icon name={link.icon} aria-label={link.label} class="h-auto w-5" />
      </NavigationItem>
    ))
  }

  <div class="border border-navigation-border transition-colors"></div>

  <CommandMenu posts={posts} client:load>
    <Icon
      name="lucide:command"
      aria-label="Command Palette"
      class="w-5 h-auto"
    />
  </CommandMenu>

  <ThemeSwitcher />
</nav>
