---
export interface ButtonLinkProps {
  href: string;
  external?: boolean;
  className?: string;
  style?: 'normal' | 'rounded';
  theme?: 'neutral' | 'inverted';
}

const themeClass: Record<string, string> = {
  'neutral': 'bg-dark text-light transition-all hover:bg-blackout hover:ring-blackout hover:ring-opacity-25',
  'inverted': 'bg-transparent text-dark border border-dark transition-colors hover:text-light hover:bg-dark hover:ring-dark hover:ring-opacity-25 focus:text-light focus:bg-dark focus:ring-dark focus:ring-opacity-25'
};
const styleClass: Record<string, string> = {
  'normal': 'rounded-md',
  'rounded': 'rounded-full'
}

const { href, external, style, theme, className } = Astro.props;

const target = external ? '_blank' : '_self';
const styleName = style || 'normal';
const themeName = theme || 'neutral';

const buttonClass = `flex items-center focus:ring-2 hover:ring-2 ${styleClass[styleName]} ${themeClass[themeName]} ${className}`;
---

<a
  href={href}
  rel="noopener noreferer"
  target={target}
  class={buttonClass}>
  <slot />
</a>
