---
import AppLink from '@/components/astro/AppLink.astro';

import { Icon } from 'astro-icon';

export interface ProjectProps {
  name: string;
  description: string;
  link: string;
  repository: string;

  containerClass: string;
}

const { name, description, link, repository, containerClass } = Astro.props;
---

<div
  class={`group relative bg-surface rounded-md p-6 md:p-8 overflow-y-hidden ${containerClass}`}
>
  <p class="text-xl font-medium">
    {name}
  </p>

  <p class="text-content-light mt-2">
    {description}
  </p>

  <div
    class="absolute top-4 right-4 -translate-y-12 transition group-hover:translate-y-0 focus-within:translate-y-0 flex space-x-2"
  >
    {
      repository && (
        <AppLink
          class="bg-background shadow-sm w-8 h-8 flex items-center justify-center border-2 border-content-light border-opacity-20 rounded-full"
          href={repository}
          external
        >
          <Icon
            name="radix-icons:github-logo"
            class="fill-current text-content-light w-4 h-4"
          />
        </AppLink>
      )
    }
    {
      link && (
        <AppLink
          class="bg-background shadow-sm w-8 h-8 flex items-center justify-center border-2 border-content-light border-opacity-20 rounded-full"
          href={link}
          external
        >
          <Icon
            name="radix-icons:arrow-top-right"
            class="fill-current text-content-light w-4 h-4"
          />
        </AppLink>
      )
    }
  </div>

  <slot />
</div>
