---
import Layout from '@/components/astro/Layout.astro';
import CircledLink from '@/components/astro/CircledLink.astro';
import Project from '@/components/astro/Project.astro';

import ArrowRight from '~icons/radix-icons/arrow-right';
import RevealingText from '@/components/vue/RevealingText.vue';

const projects = [
	{
		name: 'Conventional PR',
		image: 'https://res.cloudinary.com/namchee/image/upload/v1655467239/personal-site/cpr.webp',
		description: 'Create and enforce standards in pull requests through GitHub Actions.',
		repository: 'https://www.github.com/Namchee/conventional-pr',
	},
	{
		name: 'Fav',
		image: 'https://res.cloudinary.com/namchee/image/upload/v1655467239/personal-site/Fav.webp',
		description: 'Generate complete set of favicons for modern websites within few clicks.',
		repository: 'https://www.github.com/Namchee/fav',
		link: 'https://fav.namchee.dev',
	},
	{
		name: 'Windgraph',
		image: 'https://res.cloudinary.com/namchee/image/upload/v1655467239/personal-site/Windgraph.webp',
		description: 'Open Graph image generator as a service empowered with Tailwind CSS.',
		repository: 'https://www.github.com/Namchee/windgraph',
		link: 'https://windgraph.vercel.app',
	},
];
---

<Layout title="Hello World!">
	<div class="mt-20 md:mt-24 mb-48 space-y-48 md:space-y-64">
		<!-- start: top section -->
		<header class="pt-16 md:pt-24 lg:pt-32">
			<RevealingText
				reveal="header"
				stagger={0.125}
				duration={0.75}
				easing="ease-out-cubic"
				client:visible
			>
				<h1 class="text-header tracking-tighter leading-snug font-medium">
					<p class="overflow-y-hidden">
						<span class="inline-block translate-y-64 header">
							Hey there!
						</span>
					</p>
					<p class="overflow-y-hidden">
						<span class="inline-block translate-y-64 header">
							Just call me Namchee
						</span>
					</p>
				</h1>
			</RevealingText>

			<div class="flex flex-col xl:flex-row xl:items-center justify-between mt-4">
				<p class="text-grey">
					Namchee writes code that solves problems to make the world a better place
				</p>

				<div class="mt-12 xl:mt-0 self-start">
					<CircledLink href="/about" class="circled__button grid place-items-center">
						<div class="flex items-center md:text-lg tracking-tight col-span-full row-span-full">
							<span class="mr-2">Know me more</span>
							<ArrowRight />
						</div>
					</CircledLink>
				</div>
			</div>
		</header>
		<!-- end: top section -->

		<!-- start: projects section -->
		<section class="hidden">
			<h2 class="font-semibold tracking-tight text-4xl leading-relaxed">
				Recent Posts
			</h2>
			<p class="text-2xl text-grey mt-2 leading-relaxed">
				Find my latest thoughts here
			</p>

			<div class="mt-16 grid grid-cols-12 gap-x-6">
				<div class="col-span-9">
					Bar
				</div>

				<div class="col-span-3">
					Foo
				</div>
			</div>
		</section>
		<!-- end: project section -->

		<!-- start: projects section -->
		<section>
			<div class="flex flex-col xl:flex-row justify-between lg:space-x-12">
				<p class="text-grey uppercase font-semibold text-xs md:text-base">
					Featured Projects
				</p>

				<RevealingText stagger={0.125} duration={0.75} client:visible reveal="sub-header">
					<h2 class="text-sub-header mt-6 md:mt-4 xl:-mt-4 font-medium tracking-tight">
						<p class="overflow-y-hidden">
							<span class="inline-block translate-y-64 sub-header">
								A selection of stuffs I've built
							</span>
						</p>
						<p class="overflow-y-hidden">
							<span class="inline-block translate-y-64 sub-header">
								to solve problems
							</span>
						</p>
					</h2>
				</RevealingText>
			</div>

			<div class="mt-16 lg:mt-32 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16">
				{projects.map((project) => (
					<Project
						name={project.name}
						image={project.image}
						description={project.description}
						repository={project.repository}
						link={project.link}
					/>
					))
				}
			</div>

			<div class="mt-32 flex justify-center">
				<CircledLink href="https://github.com/Namchee?tab=repositories" external>
					<div class="flex items-center text-lg lg:text-xl tracking-tight col-span-full row-span-full">
						More projects please?
					</div>
				</CircledLink>
			</div>
		</section>
		<!-- end: project section -->

		<!-- start: contact section -->
		<section class="leading-relaxed">
			<h3 class="text-center text-xl md:text-3xl tracking-tight font-semibold">
				Let's Connect
			</h3>

			<p class="mx-auto text-center max-w-2xl mt-4 text-grey">
				I'm always open for a chat, whether it's a serious business or a simple hangout.

				Don't be shy, I don't bite!
			</p>

			<div class="grid place-items-center justify-center items-center mt-16 circle">
				<svg
					class="w-[196px] md:w-[196px] h-auto arc pointer-events-none fill-current text-grey col-span-full row-span-full"
					viewBox="0 0 258 256" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M106.735 217.368C108.6 217.824 110.31 218.563 111.863 219.586C113.417 220.608 114.622 221.941 115.48 223.584C116.309 225.245 116.564 227.185 116.243 229.404L111.033 228.129C111.064 226.284 110.577 224.843 109.57 223.806C108.564 222.769 107.257 222.054 105.648 221.66C104.179 221.301 102.928 221.316 101.894 221.705C100.854 222.118 100.186 222.93 99.8889 224.142C99.6779 225.005 99.7893 225.761 100.223 226.411C100.652 227.084 101.266 227.654 102.065 228.122C102.836 228.607 103.916 229.192 105.305 229.878C107.201 230.812 108.71 231.663 109.832 232.431C110.93 233.194 111.799 234.185 112.44 235.404C113.08 236.624 113.187 238.107 112.759 239.856C112.348 241.534 111.592 242.856 110.491 243.822C109.384 244.812 108.048 245.424 106.484 245.659C104.913 245.917 103.219 245.823 101.401 245.378C99.629 244.945 98.0625 244.228 96.7012 243.228C95.3343 242.251 94.2948 240.996 93.5828 239.463C92.8651 237.953 92.5917 236.243 92.7626 234.333L97.903 235.59C97.8928 237.046 98.3178 238.237 99.1781 239.164C100.009 240.109 101.136 240.755 102.558 241.103C103.864 241.422 104.981 241.399 105.911 241.034C106.834 240.692 107.416 240.031 107.656 239.052C107.844 238.282 107.727 237.599 107.305 237.002C106.883 236.404 106.307 235.88 105.577 235.43C104.847 234.98 103.811 234.417 102.469 233.743C100.549 232.804 99.0081 231.932 97.8457 231.129C96.6601 230.32 95.735 229.254 95.0706 227.93C94.4063 226.606 94.3023 225.011 94.7586 223.146C95.3804 220.605 96.7569 218.817 98.888 217.782C100.996 216.741 103.612 216.603 106.735 217.368Z"
						fill="currentColor" />
					<path
						d="M85.5203 210.153L90.1071 213.071L67.1947 231.051L62.3952 227.998L68.965 199.624L73.5519 202.541L72.0982 208.315L80.9378 213.937L85.5203 210.153ZM67.8281 224.756L77.258 216.973L70.879 212.915L67.8281 224.756Z"
						fill="currentColor" />
					<path
						d="M55.49 184.46L58.8989 188.694L50.5144 195.444L43.7789 213.715L39.9862 209.004L44.8953 196.501L31.6107 198.6L27.8406 193.917L47.1055 191.21L55.49 184.46Z"
						fill="currentColor" />
					<path
						d="M39.4216 152.447L40.4176 157.535L13.4614 162.812L12.4654 157.725L23.6294 155.539L21.3676 143.986L10.2035 146.172L9.20749 141.085L36.1637 135.807L37.1598 140.895L25.925 143.094L28.1869 154.647L39.4216 152.447Z"
						fill="currentColor" />
					<path
						d="M38.3553 107.471L36.0182 125.645L8.77455 122.142L11.1116 103.967L15.7177 104.56L14.0418 117.592L20.7545 118.455L22.256 106.78L26.8263 107.367L25.3249 119.043L32.0733 119.911L33.7492 106.878L38.3553 107.471Z"
						fill="currentColor" />
					<path
						d="M47.586 83.3739L40.931 98.8126L15.7067 87.9394L17.7588 83.1789L38.7184 92.2138L43.3214 81.5356L47.586 83.3739Z"
						fill="currentColor" />
					<path
						d="M62.0671 63.8072L51.6232 76.9817L30.0982 59.918L33.3186 55.8557L51.2043 70.0344L58.4279 60.9222L62.0671 63.8072Z"
						fill="currentColor" />
					<path
						d="M77.6623 52.0112C75.2405 53.6137 72.8379 54.4407 70.4548 54.4924C68.0783 54.5107 65.8839 53.8907 63.8713 52.6324C61.8588 51.374 60.1307 49.6539 58.6872 47.4723C57.2437 45.2906 56.3429 43.0376 55.9848 40.7133C55.6136 38.3689 55.9076 36.1167 56.867 33.9567C57.8331 31.7634 59.5271 29.8656 61.9489 28.2631C64.3908 26.6474 66.7999 25.8304 69.1763 25.812C71.5595 25.7603 73.7574 26.3637 75.7699 27.6221C77.7692 28.8605 79.4906 30.5705 80.9342 32.7522C82.3777 34.9338 83.2851 37.1968 83.6564 39.5412C84.0277 41.8855 83.7303 44.1544 82.7641 46.3476C81.8048 48.5077 80.1042 50.3955 77.6623 52.0112ZM75.0997 48.1383C77.1813 46.7609 78.3191 44.9577 78.5132 42.7284C78.7274 40.4859 78.0332 38.1538 76.4307 35.7319C74.8283 33.3101 72.9598 31.7693 70.8254 31.1096C68.711 30.4366 66.613 30.7888 64.5314 32.1661C62.4698 33.5302 61.332 35.3334 61.1179 37.5759C60.9105 39.7851 61.6014 42.0907 63.1906 44.4925C64.7931 46.9143 66.6582 48.4718 68.7858 49.1648C70.9335 49.8445 73.0381 49.5023 75.0997 48.1383Z"
						fill="currentColor" />
					<path
						d="M111.455 25.9604C110.674 26.0892 109.966 25.926 109.331 25.4711C108.697 25.0161 108.315 24.3979 108.187 23.6165C108.054 22.8113 108.215 22.0916 108.67 21.4572C109.121 20.7991 109.737 20.4057 110.519 20.277C111.3 20.1483 112.022 20.3213 112.684 20.796C113.342 21.2471 113.737 21.8752 113.87 22.6803C113.995 23.4381 113.82 24.148 113.345 24.8099C112.867 25.4482 112.237 25.8317 111.455 25.9604Z"
						fill="currentColor" />
					<path
						d="M150.418 39.1086C148.552 38.6578 146.84 37.9235 145.284 36.9056C143.727 35.8878 142.517 34.5586 141.654 32.9182C140.82 31.26 140.56 29.3208 140.874 27.1005L146.089 28.3597C146.063 30.2052 146.554 31.6449 147.564 32.6788C148.573 33.7127 149.883 34.424 151.493 34.8128C152.962 35.1677 154.214 35.149 155.247 34.7565C156.285 34.3407 156.951 33.5263 157.244 32.3131C157.453 31.45 157.339 30.6941 156.903 30.0457C156.473 29.3739 155.857 28.8054 155.056 28.3403C154.283 27.8576 153.202 27.2754 151.811 26.5938C149.912 25.666 148.4 24.8195 147.276 24.0543C146.176 23.2947 145.304 22.3063 144.659 21.0891C144.015 19.8718 143.904 18.3883 144.327 16.6386C144.733 14.9589 145.485 13.6344 146.583 12.6652C147.687 11.6726 149.021 11.0565 150.585 10.817C152.154 10.5541 153.849 10.6424 155.668 11.0819C157.441 11.5101 159.01 12.2222 160.374 13.2184C161.744 14.1911 162.788 15.443 163.504 16.9741C164.226 18.4818 164.505 20.1909 164.34 22.1015L159.196 20.8592C159.202 19.4039 158.773 18.214 157.91 17.2895C157.076 16.3474 155.947 15.7045 154.524 15.3608C153.218 15.0452 152.1 15.0717 151.172 15.44C150.249 15.785 149.669 16.4474 149.433 17.4272C149.247 18.1971 149.366 18.8801 149.789 19.4763C150.213 20.0725 150.791 20.5947 151.522 21.0428C152.253 21.491 153.291 22.0503 154.635 22.7206C156.558 23.654 158.102 24.5206 159.266 25.3204C160.454 26.1259 161.383 27.1895 162.051 28.5114C162.719 29.8332 162.828 31.4273 162.377 33.2936C161.763 35.8365 160.392 37.6287 158.264 38.6703C156.16 39.7175 153.544 39.8635 150.418 39.1086Z"
						fill="currentColor" />
					<path
						d="M171.655 46.2589L167.059 43.3554L189.917 25.3062L194.726 28.3443L188.242 56.7384L183.646 53.8349L185.082 48.0568L176.226 42.4613L171.655 46.2589ZM189.303 31.6035L179.896 39.4149L186.288 43.4528L189.303 31.6035Z"
						fill="currentColor" />
					<path
						d="M201.762 71.8613L198.341 67.6372L206.705 60.862L213.385 42.5711L217.192 47.2707L212.321 59.7876L225.599 57.649L229.383 62.3206L210.127 65.086L201.762 71.8613Z"
						fill="currentColor" />
					<path
						d="M217.927 103.826L216.916 98.7416L243.856 93.3829L244.867 98.4673L233.71 100.687L236.006 112.232L247.164 110.013L248.175 115.097L221.235 120.456L220.224 115.372L231.452 113.138L229.155 101.593L217.927 103.826Z"
						fill="currentColor" />
					<path
						d="M219.129 148.799L221.411 130.617L248.665 134.039L246.383 152.22L241.775 151.641L243.412 138.604L236.696 137.761L235.23 149.441L230.658 148.867L232.124 137.187L225.373 136.339L223.737 149.377L219.129 148.799Z"
						fill="currentColor" />
					<path
						d="M209.971 172.923L216.579 157.464L241.836 168.261L239.799 173.028L218.812 164.056L214.241 174.748L209.971 172.923Z"
						fill="currentColor" />
					<path
						d="M195.549 192.534L205.953 179.328L227.529 196.327L224.321 200.399L206.393 186.274L199.197 195.408L195.549 192.534Z"
						fill="currentColor" />
					<path
						d="M179.989 204.376C182.406 202.766 184.806 201.932 187.189 201.873C189.565 201.847 191.762 202.461 193.778 203.713C195.794 204.965 197.527 206.68 198.978 208.857C200.428 211.035 201.335 213.285 201.7 215.608C202.079 217.951 201.791 220.204 200.839 222.367C199.879 224.564 198.191 226.467 195.774 228.076C193.337 229.699 190.93 230.524 188.554 230.549C186.171 230.608 183.971 230.011 181.955 228.759C179.952 227.527 178.225 225.822 176.775 223.644C175.325 221.467 174.411 219.207 174.032 216.864C173.654 214.52 173.945 212.251 174.904 210.055C175.857 207.892 177.552 205.999 179.989 204.376ZM182.563 208.241C180.486 209.624 179.353 211.431 179.166 213.661C178.959 215.904 179.66 218.234 181.269 220.651C182.879 223.068 184.752 224.603 186.889 225.257C189.005 225.923 191.102 225.565 193.179 224.181C195.237 222.811 196.369 221.004 196.577 218.761C196.777 216.551 196.08 214.248 194.483 211.851C192.873 209.434 191.004 207.882 188.874 207.195C186.724 206.522 184.621 206.871 182.563 208.241Z"
						fill="currentColor" />
					<path
						d="M146.275 230.529C147.056 230.398 147.765 230.559 148.4 231.012C149.036 231.465 149.42 232.082 149.551 232.863C149.686 233.668 149.527 234.388 149.074 235.024C148.625 235.683 148.01 236.079 147.228 236.21C146.447 236.341 145.725 236.17 145.062 235.697C144.402 235.248 144.005 234.621 143.87 233.816C143.743 233.059 143.916 232.349 144.388 231.685C144.865 231.045 145.494 230.66 146.275 230.529Z"
						fill="currentColor" />
				</svg>

				<a href="mailto:hello@namchee.dev" class="col-span-full row-span-full text-2xl hand inline-block">
					👋
				</a>
			</div>
		</section>
		<!-- end: contact section -->
	</div>
</Layout>

<style>
	.arc {
		animation: rotate-arc 20s linear infinite;
	}

	.hand:hover,
	.hand:focus {
		animation: hand-wave 1.25s linear infinite;
		transform-origin: bottom right;
	}

	@keyframes hand-wave {

		0%,
		80% {
			transform: translate(0px, 0px);
		}

		20%,
		60% {
			transform: translate(-3px, -3px) rotate(5deg);
		}

		40% {
			transform: translate(-3px, -3px) rotate(-5deg);
		}
	}

	@keyframes rotate-arc {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
</style>
