---
import { Image } from "@unpic/astro";

import type { CollectionEntry } from "astro:content";
import type { MarkdownFile } from "@/plugins/remark/types";

import Layout from "@/components/astro/layout/Layout.astro";
import Badge from "@/components/astro/ui/Badge.astro";

import BackButton from "./BackButton.astro";
import TableOfContents from "./TableOfContents.astro";
import Webmention from "./Webmention.astro";
import SocialLinks from "./SocialLinks.astro";

interface Props {
  frontmatter: CollectionEntry<"posts">["data"] &
    MarkdownFile["data"]["astro"]["frontmatter"] & {
      slug: string;
      prevPost: CollectionEntry<"posts">;
      nextPost: CollectionEntry<"posts">;
    };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} — Namchee`}
  description={frontmatter.subtitle}
>
  <progress class="reading__progress h-[2px] fixed w-screen left-0 z-10"
  ></progress>

  <BackButton />

  <article class="grid grid-cols-12 gap-x-4 px-8 my-32 lg:px-0">
    <header
      class="col-start-1 col-end-13 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11"
    >
      <div class="flex space-x-2 mb-2">
        {
          frontmatter.tags.map((tag) => (
            <Badge variant="primary">
              {tag[0].toUpperCase() + tag.slice(1)}
            </Badge>
          ))
        }
      </div>
      <h1
        class="text-2xl
        text-heading
        font-semibold
        tracking-tight
        leading-normal!
        md:text-3xl"
      >
        {frontmatter.title}
      </h1>

      <p class="mt-4 text-sm md:text-base leading-normal!">
        {frontmatter.subtitle}
      </p>
    </header>

    <section
      class="col-start-1 col-end-13
      my-8 md:mb-16 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11"
    >
      <figure>
        <Image
          src={frontmatter.image.url}
          alt={`${frontmatter.title} - Image by ${frontmatter.image.author} from ${frontmatter.image.source}`}
          title={`${frontmatter.title} - Image by ${frontmatter.image.author} from ${frontmatter.image.source}`}
          aspectRatio={16 / 9}
          layout="fullWidth"
          class="rounded-md aspect-video"
          loading="eager"
          background="blurhash"
        />
      </figure>

      <div class="mt-4 md:mt-8 flex items-center justify-between">
        <div class="flex items-center space-x-8">
          <div>
            <p class="text-xs md:text-sm font-medium text-primary leading-normal mb-1">
              Published At
            </p>

            <time
              datetime={frontmatter.publishedAt as unknown as string}
              class="text-sm md:text-base text-heading font-medium"
            >
              {
                new Date(frontmatter.publishedAt).toLocaleString("en-GB", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }
            </time>
          </div>

          <div class="hidden md:block">
            <p class="text-sm font-medium text-primary leading-normal mb-1">
              Last Updated
            </p>

            <time
              datetime={frontmatter.lastModified as unknown as string}
              class="text-heading font-medium"
            >
              {
                new Date(frontmatter.lastModified).toLocaleString("en-GB", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }
            </time>
          </div>
        </div>

        <div class="text-right">
          <p class="text-xs md:text-sm font-medium text-primary leading-normal mb-1">
            Time to Read
          </p>

          <p class="text-sm md:text-base text-heading font-medium">
            {frontmatter.timeToRead} minutes read
          </p>
        </div>
      </div>
    </section>

    <div
      class="col-start-1 col-end-13 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11"
    >
    </div>

    <div
      class="col-start-1 col-end-13 lg:col-start-2 md:col-end-5 xl:col-start-3"
    >
      <TableOfContents headings={frontmatter.headings} />
    </div>

    <section
      class="col-start-1 col-end-13
        space-y-6
        md:col-start-5
        lg:col-end-12
        xl:col-end-11
        leading-[1.75]"
    >
      <slot />
    </section>

    <section class="mt-16 flex justify-between items-center col-start-1 col-end-13 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11">
      <div>
        <p class="text-sm lg:text-base md:text-left mb-4">
          Share this Post
        </p>

        <SocialLinks slug={frontmatter.slug} title={frontmatter.title} />
      </div>

      <div>
        <p class="text-sm lg:text-base text-right mb-4">
          Webmentions
        </p>

        <Webmention slug={frontmatter.slug} />
      </div>
    </section>
  </article>
</Layout>

<style is:inline>
  .reading__progress::-webkit-progress-bar {
    background-color: transparent;
  }
  .reading__progress::-webkit-progress-value {
    background-color: oklch(var(--primary));
  }

  .reading__progress::-moz-progress-bar {
    background-color: oklch(var(--primary));
  }
</style>

<script is:inline>
  const progressBar = document.querySelector(".reading__progress");

  const windowHeight = window.innerHeight;
  const documentHeight = document.documentElement.scrollHeight;
  const max = documentHeight - windowHeight;
  progressBar.setAttribute("max", max);

  function copyLink() {
    navigator.clipboard.writeText(
      window.location.origin + window.location.pathname,
    );
  }

  window.addEventListener("scroll", () => {
    progressBar.setAttribute("value", window.scrollY);
  });
</script>
