---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { Icon } from "astro-iconify";

import Layout from "@/components/astro/layout/Layout.astro";

import AppLink from '@/components/astro/ui/AppLink.astro';

import type { MarkdownFile } from '@/plugins/remark/types';

import TableOfContents from './TableOfContents.astro';

interface Props {
  frontmatter: CollectionEntry<'posts'>['data'] &
    MarkdownFile['data']['astro']['frontmatter'];
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} — Namchee`} description={frontmatter.subtitle}>
  <AppLink
    href="/posts"
    class="grid place-items-center h-10 w-10 rounded-full border border-separator fixed top-8 left-8 bg-background transition-all group hover:scale-105 focus:scale-105 shadow lg:shadow-none"
  >
    <Icon pack="lucide" name="arrow-left" class="w-4 h-auto" />
    <p
      class="absolute text-sm -bottom-8 transition-all opacity-0 translate-y-1 group-hover:opacity-100 group-hover:translate-y-0 group-focus:opacity-100 group-focus:translate-y-0 focus-visible:outline-none"
    >
      Back
    </p>
  </AppLink>

  <article class="grid grid-cols-12 gap-4 my-24 lg:my-32 px-8">
    <header class="col-start-1 col-end-13 text-center">
      <h1 class="text-3xl md:text-4xl text-heading font-medium">
        {frontmatter.title}
      </h1>

      <p class="md:text-lg text-balance mt-2 md:mt-4">
        {frontmatter.subtitle}
      </p>

      <p class="text-base font-medium text-primary mt-8 md:mt-12">
        {new Date(frontmatter.publishedAt).toLocaleString('en-GB', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })} &mdash; {frontmatter.timeToRead} minutes read
      </p>
    </header>

    <figure class="my-8 md:mb-16 col-start-1 col-end-13 md:col-start-2 md:col-end-12">
      <Image
        src={frontmatter.image.url}
        alt={frontmatter.title}
        width={1064}
        height={599}
        class="rounded-lg aspect-video"
      />
      <figcaption class="italic text-accent text-xs text-center mt-4">
        Image courtesy of {frontmatter.image.author} from {frontmatter.image.source}
      </figcaption>
    </figure>

    <div class="hidden lg:block lg:col-start-3 lg:col-end-5">
      <TableOfContents headings={frontmatter.headings} />
    </div>

    <section class="lg:ml-4 col-start-1 col-end-13 md:col-start-2 md:col-end-12 lg:col-start-5 lg:col-end-11 space-y-4 leading-loose">
      <slot />
    </section>
  </article>
</Layout>

<style is:inline>
  p {
    line-height: 1.75;
  }
</style>

<script is:inline>
  const copyButton = document.querySelector('.copy__link');
  copyButton.addEventListener('click', async () => {
    const url = window.location.href.split('#')[0];

    await navigator.clipboard.writeText(url);
  });
</script>
