---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import type { MarkdownFile } from "@/plugins/remark/types";

import Layout from "@/components/astro/layout/Layout.astro";

import AppLink from "@/components/astro/ui/AppLink.astro";

import BackButton from "./BackButton.astro";
import TableOfContents from "./TableOfContents.astro";
import Webmention from "./Webmention.astro";

interface Props {
  frontmatter: CollectionEntry<"posts">["data"] &
    MarkdownFile["data"]["astro"]["frontmatter"] &
    { slug: string };
}

const { frontmatter } = Astro.props;

const postUrl = `${Astro.site.toString()}/posts/${frontmatter.slug}`;
const postText = `I just read \`${frontmatter.title}\` by Namchee

${postUrl}`;
---

<Layout
  title={`${frontmatter.title} — Namchee`}
  description={frontmatter.subtitle}
>
  <BackButton />

  <article class="relative grid grid-cols-12 gap-4 my-24 px-8 lg:my-32 lg:px-0">
    <header class="col-start-1 col-end-13 flex flex-col items-center">
      <div class="flex space-x-2 mb-4">
        {frontmatter.tags.map(tag =>
          <div class="grid place-items-center rounded-full text-xs bg-surface py-1 px-2 transition-colors">
            <span class="mt-[2px]">{tag[0].toUpperCase() + tag.slice(1)}</span>
          </div>
        )}
      </div>

      <h1 class="text-3xl
        text-heading
        font-medium
        md:text-4xl">
        {frontmatter.title}
      </h1>

      <p class="md:text-lg text-balance mt-4">
        {frontmatter.subtitle}
      </p>

      <p class="text-sm md:text-base font-medium text-primary mt-8 md:mt-12">
        {
          new Date(frontmatter.publishedAt).toLocaleString("en-GB", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        } &mdash; {frontmatter.timeToRead} minutes read
      </p>
    </header>

    <figure
      class="col-start-1 col-end-13
        my-8
        md:mb-16 md:col-start-2 md:col-end-12"
    >
      <Image
        src={frontmatter.image.url}
        alt={frontmatter.title}
        title={frontmatter.title}
        width={1064}
        height={599}
        class="rounded-lg aspect-video"
      />
      <figcaption class="italic text-accent text-xs text-center mt-4">
        Image courtesy of {frontmatter.image.author} from {
          frontmatter.image.source
        }
      </figcaption>
    </figure>

    <div class="hidden
      lg:block lg:col-start-3 lg:col-end-5">
      <TableOfContents headings={frontmatter.headings} />
    </div>

    <section
      class="col-start-1 col-end-13
        space-y-6
        md:col-start-2 md:col-end-12
        lg:ml-4 lg:col-start-5 lg:col-end-11"
    >
      <slot />
    </section>

    <section class="col-start-1 col-end-13
      mt-24 flex justify-between items-center
      md:col-start-2 md:col-end-12
      lg:col-start-3 lg:col-end-11
      border-t border-t-separator transition-colors
      pt-8">
      <div>
        <Webmention slug={frontmatter.slug} />

        <p class="text-xs mt-2">
          Powered by <AppLink
            class="font-medium transition-colors hover:text-primary focus:text-primary"
            href="https://indieweb.org/Webmention"
          >
            Webmentions
          </AppLink>
        </p>
      </div>

      <AppLink
        href=`http://twitter.com/share?url=${postUrl}&text=${postText}`
        class="text-sm font-medium transition-colors hover:text-primary focus:text-primary">
        Tweet this post
      </AppLink>
    </section>
  </article>
</Layout>

<style is:inline>
  p {
    line-height: 1.75;
  }
</style>
