---
import { Image } from "@unpic/astro";

import type { CollectionEntry } from "astro:content";
import type { MarkdownFile } from "@/plugins/remark/types";

import Layout from "@/components/astro/layout/Layout.astro";
import Badge from "@/components/astro/ui/Badge.astro";

import BackButton from "./BackButton.astro";
import TableOfContents from "./TableOfContents.astro";
import Webmention from "./Webmention.astro";
import SocialLinks from "./SocialLinks.astro";

interface Props {
  frontmatter: CollectionEntry<"posts">["data"] &
    MarkdownFile["data"]["astro"]["frontmatter"] & {
      slug: string;
      prevPost: CollectionEntry<"posts">;
      nextPost: CollectionEntry<"posts">;
    };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} — Namchee`}
  description={frontmatter.subtitle}
>
  <progress class="reading__progress h-[2px] fixed w-screen left-0 z-10"
  ></progress>

  <BackButton />

  <article class="grid grid-cols-12 gap-x-4 my-24 px-8 lg:my-32 lg:px-0">
    <header
      class="col-start-1 col-end-13 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11"
    >
      <div class="flex space-x-2 mb-2">
        {
          frontmatter.tags.map((tag) => (
            <Badge variant="primary">
              {tag[0].toUpperCase() + tag.slice(1)}
            </Badge>
          ))
        }
      </div>
      <h1
        class="text-xl
        text-heading
        font-semibold
        tracking-tight
        md:text-2xl
        leading-normal!"
      >
        {frontmatter.title}
      </h1>

      <p class="mt-3 font-medium text-sm md:text-base leading-normal">
        {frontmatter.subtitle}
      </p>

    </header>

    <figure
      class="col-start-1 col-end-13
        my-8 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11"
    >
      <Image
        src={frontmatter.image.url}
        alt={`${frontmatter.title} - image by ${frontmatter.image.author} from ${frontmatter.image.source}`}
        title={`${frontmatter.title} - image by ${frontmatter.image.author} from ${frontmatter.image.source}`}
        aspectRatio={16 / 9}
        layout="fullWidth"
        class="rounded-md aspect-video"
        loading="eager"
        background="blurhash"
      />
    </figure>

    <section class="flex justify-between col-start-1 col-end-13 mb-8
      md:mb-16 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11">
      <div class="flex items-center space-x-8">
        <div class="space-y-2">
          <p class="text-sm text-primary font-semibold">
            Published At
          </p>

          <p class="text-heading font-medium">
            {
              new Date(frontmatter.publishedAt).toLocaleString("en-GB", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </p>
        </div>

        <div class="space-y-2">
          <p class="text-sm text-primary font-semibold">
            Last Updated
          </p>

          <p class="text-heading font-medium">
            {
              new Date(frontmatter.lastModified).toLocaleString("en-GB", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </p>
        </div>
      </div>

      <div class="space-y-2 text-right">
        <p class="text-sm text-primary font-semibold">
          Time to Read
        </p>

        <p class="text-heading font-medium">
          {frontmatter.timeToRead} minutes read
        </p>
      </div>
    </section>

    <div
      class="col-start-1 col-end-13 lg:col-start-2 md:col-end-5 xl:col-start-3"
    >
      <TableOfContents headings={frontmatter.headings} />
    </div>

    <section
      class="col-start-1 col-end-13
        space-y-4
        md:col-start-5
        lg:col-end-12
        xl:col-end-11
        leading-[1.75]"
    >
      <slot />
    </section>

    <section
      class="mt-16 col-start-1 col-end-6 lg:col-start-2 md:col-end-5 xl:col-start-3"
    >
      <SocialLinks slug={frontmatter.slug} title={frontmatter.title} />
    </section>

    <section
      class="mt-16
        col-start-6 col-end-13
        justify-self-end
        md:col-start-5 md:col-end-12
        md:justify-self-start
        lg:col-start-5
        xl:col-end-11"
    >
      <Webmention slug={frontmatter.slug} />
    </section>
  </article>
</Layout>

<style is:inline>
  .reading__progress::-webkit-progress-bar {
    background-color: transparent;
  }
  .reading__progress::-webkit-progress-value {
    background-color: oklch(var(--primary));
  }

  .reading__progress::-moz-progress-bar {
    background-color: oklch(var(--primary));
  }
</style>

<script is:inline>
  const progressBar = document.querySelector(".reading__progress");

  const windowHeight = window.innerHeight;
  const documentHeight = document.documentElement.scrollHeight;
  const max = documentHeight - windowHeight;
  progressBar.setAttribute("max", max);

  function copyLink() {
    navigator.clipboard.writeText(
      window.location.origin + window.location.pathname,
    );
  }

  window.addEventListener("scroll", () => {
    progressBar.setAttribute("value", window.scrollY);
  });
</script>
