---
import { Image } from "@unpic/astro";

import type { CollectionEntry } from "astro:content";
import type { MarkdownFile } from "@/plugins/remark/types";

import { Icon } from "astro-iconify";

import Layout from "@/components/astro/layout/Layout.astro";
import AppLink from "@/components/astro/ui/AppLink.astro";
import Badge from "@/components/astro/ui/Badge.astro";

import BackButton from "./BackButton.astro";
import TableOfContents from "./TableOfContents.astro";
import Webmention from "./Webmention.astro";
import SocialLinks from "./SocialLinks.astro";

interface Props {
  frontmatter: CollectionEntry<"posts">["data"] &
    MarkdownFile["data"]["astro"]["frontmatter"] & {
      slug: string;
      prevPost: CollectionEntry<"posts">;
      nextPost: CollectionEntry<"posts">;
    };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} — Namchee`}
  description={frontmatter.subtitle}
>
  <progress class="reading__progress h-[2px] fixed w-screen left-0 z-10"
  ></progress>

  <BackButton />

  <article class="grid grid-cols-12 gap-x-4 my-24 px-8 lg:my-32 lg:px-0">
    <header
      class="col-start-1 col-end-13 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11"
    >
      <div class="flex space-x-2 mb-2">
        {
          frontmatter.tags.map((tag) => (
            <Badge variant="primary">
              {tag[0].toUpperCase() + tag.slice(1)}
            </Badge>
          ))
        }
      </div>
      <h1
        class="text-xl
        text-heading
        font-semibold
        tracking-tight
        leading-normal!
        md:text-2xl"
      >
        {frontmatter.title}
      </h1>

      <p class="mt-2 font-medium text-sm md:text-base leading-normal">
        {frontmatter.subtitle}
      </p>

      <div class="mt-8 flex items-center justify-between">
        <p class="text-primary text-sm font-medium">
          <time datetime={frontmatter.publishedAt as unknown as string}>
            {
              new Date(frontmatter.publishedAt).toLocaleString("en-GB", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time> &bull; {frontmatter.timeToRead} minutes read
        </p>

        <div class="hidden md:block">
          <Webmention slug={frontmatter.slug} />
        </div>
      </div>
    </header>

    <figure
      class="col-start-1 col-end-13
        my-8 md:mb-12 lg:col-start-2 lg:col-end-12 xl:col-start-3 xl:col-end-11"
    >
      <Image
        src={frontmatter.image.url}
        alt={`Image by ${frontmatter.image.author} from ${frontmatter.image.source}`}
        title={frontmatter.title}
        aspectRatio={16 / 9}
        layout="fullWidth"
        class="rounded-md aspect-video"
        loading="eager"
        background="blurhash"
      />
      <figcaption class="italic text-xs text-center mt-4">
        Image by {frontmatter.image.author} from {frontmatter.image.source}
      </figcaption>
    </figure>

    <div
      class="col-start-1 col-end-13 lg:col-start-2 md:col-end-5 xl:col-start-3"
    >
      <TableOfContents headings={frontmatter.headings} />
    </div>

    <section
      class="col-start-1 col-end-13
        space-y-4
        md:col-start-5
        lg:col-end-12
        xl:col-end-11
        leading-[1.75]"
    >
      <slot />
    </section>

    <div
      class="mt-16 col-start-1 col-end-13 lg:col-start-2 md:col-end-5 xl:col-start-3 flex flex-col items-center md:items-start"
    >
      <p class="text-center text-sm lg:text-base md:text-left mb-6">Share this Post</p>

      <SocialLinks slug={frontmatter.slug} title={frontmatter.title} />
    </div>

    <div
      class="mt-16
      flex justify-between
      col-start-1 col-end-13
      md:col-start-5
      lg:col-end-12
      xl:col-end-11"
    >
      {
        frontmatter.prevPost && (
          <div>
            <p class="text-sm lg:text-base">Previous Post</p>

            <AppLink
              href={`${frontmatter.prevPost.slug}`}
              class="block text-heading font-medium leading-normal transition-colors lg:text-lg mt-4 flex items-center space-x-2 hover:text-primary focus:text-primary"
            >
              <Icon pack="lucide" name="arrow-left" class="w-5 h-5" />
              <span>{frontmatter.prevPost.data.title}</span>
            </AppLink>
          </div>
        )
      }

      {
        frontmatter.nextPost && (
          <div class="ml-auto text-right">
            <p class="text-sm lg:text-base">Next Post</p>

            <AppLink
              href={`${frontmatter.nextPost.slug}`}
              class="block text-heading font-medium leading-normal transition-colors lg:text-lg mt-4 flex items-center space-x-2 hover:text-primary focus:text-primary"
            >
              <span>{frontmatter.nextPost.data.title}</span>
              <Icon pack="lucide" name="arrow-right" class="w-5 h-5" />
            </AppLink>
          </div>
        )
      }
    </div>
  </article>
</Layout>

<style is:inline>
  .reading__progress::-webkit-progress-bar {
    background-color: transparent;
  }
  .reading__progress::-webkit-progress-value {
    background-color: oklch(var(--primary));
  }

  .reading__progress::-moz-progress-bar {
    background-color: oklch(var(--primary));
  }
</style>

<script is:inline>
  const progressBar = document.querySelector(".reading__progress");

  const windowHeight = window.innerHeight;
  const documentHeight = document.documentElement.scrollHeight;
  const max = documentHeight - windowHeight;
  progressBar.setAttribute("max", max);

  function copyLink() {
    navigator.clipboard.writeText(
      window.location.origin + window.location.pathname,
    );
  }

  window.addEventListener("scroll", () => {
    progressBar.setAttribute("value", window.scrollY);
  });
</script>
