---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import Layout from "@/components/astro/layout/Layout.astro";

import type { MarkdownFile } from '@/plugins/remark/types';
import TableOfContents from './TableOfContents.astro';

interface Props {
  frontmatter: CollectionEntry<'posts'>['data'] &
    MarkdownFile['data']['astro']['frontmatter'];
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.subtitle}>
  <article class="grid grid-cols-12 gap-4 my-24 lg:my-32 px-8">
    <header class="col-start-1 col-end-13 text-center text-3xl md:text-4xl">
      <h1 class="text-heading font-medium">
        {frontmatter.title}
      </h1>

      <p class="text-base md:text-lg mt-2 text-balance">
        {frontmatter.subtitle}
      </p>

      <p class="text-base font-medium text-primary mt-12">
        {new Date(frontmatter.updatedAt).toLocaleString('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })} &mdash; {frontmatter.timeToRead} minutes read
      </p>
    </header>

    <figure class="my-8 md:mb-16 col-start-1 col-end-13 md:col-start-2 md:col-end-12">
      <Image
        src={frontmatter.image.url}
        alt={frontmatter.title}
        width={1064}
        height={599}
        class="rounded-lg aspect-video"
      />
    </figure>

    <div class="hidden lg:block lg:col-start-3 lg:col-end-5">
      <TableOfContents headings={frontmatter.headings} />
    </div>

    <section class="lg:ml-4 col-start-1 col-end-13 md:col-start-2 md:col-end-12 lg:col-start-5 lg:col-end-11 space-y-4">
      <slot />
    </section>
  </article>
</Layout>

<style is:inline>
  p {
    line-height: 1.75;
  }
  h2:not([id^=radix]) {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    color: oklch(var(--heading));
    margin-top: 4rem !important;
  }

  h3:not([id^=radix]) {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
    color: oklch(var(--heading));
  }
</style>
