---
import X from "~icons/simple-icons/x";
import LinkedIn from "~icons/simple-icons/linkedin";
import Bluesky from "~icons/simple-icons/bluesky";

import AppLink from "@/components/astro/ui/AppLink.astro";

import Copy from "@/components/vue/CopyButton.vue";
import Check from "@/components/astro/icons/Check.astro";

interface Props {
  slug: string;
  title: string;
}

const { slug, title } = Astro.props;

const postUrl = encodeURIComponent(`${Astro.site?.toString()}/posts/${slug}`);
const postText = `I just read '${title}' by Namchee

`;
---

<div class=":uno: flex items-center space-x-4">
  <Copy className=":uno: mr-4" value={postUrl} client:visible>
    <Icon
      name="lucide:link"
      class=":uno: w-4 h-auto transition-colors group-hover:text-heading group-focus:text-heading md:w-[18px]"
    />

    <Check slot="after-copy-icon" class=":uno:  w-4 h-auto md:w-[18px] text-success flex-shrink-0" />

    <p slot="before-copy-label">
      Copy Post Link
    </p>

    <p slot="after-copy-label">
      Link Copied!
    </p>
  </Copy>

  <AppLink
    href={`https://twitter.com/intent/post?text=${encodeURIComponent(postText) + postUrl}`}
    title="Share Post on Twitter"
    class=":uno: group"
  >
    <X
      class=":uno: w-4 h-auto md:w-[18px] group-hover:text-heading group-focus:text-heading transition-color"
    />
  </AppLink>

  <AppLink
    href={`https://www.linkedin.com/sharing/share-offsite/?url=${postUrl}`}
    title="Share Post on LinkedIn"
    class=":uno: group"
  >
    <LinkedIn
      class=":uno: w-4 md:w-[18px] h-auto transition-color group-hover:text-heading group-focus:text-heading"
    />
  </AppLink>

  <AppLink
    href={`https://bsky.app/intent/compose?text=${postText}%20${postUrl}`}
    title="Share Post on Bluesky"
    class=":uno: group"
  >
    <Bluesky
      class=":uno: w-4 md:w-[18px] h-auto transition-color group-hover:text-heading group-focus:text-heading"
    />
  </AppLink>
</div>
