---
import Check from '~icons/lucide/check';
import Link from '~icons/lucide/link';
import Bluesky from '~icons/simple-icons/bluesky';
import LinkedIn from '~icons/simple-icons/linkedin';
import X from '~icons/simple-icons/x';

import AppLink from '@/components/astro/ui/AppLink.astro';
import Copy from '@/components/vue/CopyButton.vue';

interface Props {
  slug: string;
  title: string;
}

const { slug, title } = Astro.props;

const postUrl = encodeURIComponent(`${Astro.site?.toString()}/posts/${slug}`);
const postText = `I just read '${title}' by Namchee

`;
---

<div class=":uno: flex items-center space-x-4">
  <Copy class=":uno: mr-4" value={postUrl} client:visible>
    <Link
      class=":uno: h-auto w-4 transition-colors group-focus:text-heading group-hover:text-heading md:w-[18px]"
    />

    <Check slot="after-copy-icon" class=":uno: text-success flex-shrink-0 h-auto w-4 md:w-[18px]" />

    <p slot="before-copy-label">
      Copy Post Link
    </p>

    <p slot="after-copy-label">
      Link Copied!
    </p>
  </Copy>

  <AppLink
    href={`https://twitter.com/intent/post?text=${encodeURIComponent(postText) + postUrl}`}
    title="Share Post on Twitter"
    class=":uno: group"
  >
    <X
      class=":uno: h-auto w-4 transition-colors group-focus:text-heading group-hover:text-heading md:w-[18px]"
    />
  </AppLink>

  <AppLink
    href={`https://www.linkedin.com/sharing/share-offsite/?url=${postUrl}`}
    title="Share Post on LinkedIn"
    class=":uno: group"
  >
    <LinkedIn
      class=":uno: h-auto w-4 transition-colors group-focus:text-heading group-hover:text-heading md:w-[18px]"
    />
  </AppLink>

  <AppLink
    href={`https://bsky.app/intent/compose?text=${postText}%20${postUrl}`}
    title="Share Post on Bluesky"
    class=":uno: group"
  >
    <Bluesky
      class=":uno: h-auto w-4 transition-colors group-focus:text-heading group-hover:text-heading md:w-[18px]"
    />
  </AppLink>
</div>
