---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";

import { getCurrentlyReadBooks } from "@/scripts/now-reading";

const books = await getCurrentlyReadBooks();
---

<ul>
  {
    books.map((book) => {
      return (
        <li class=":uno: flex space-x-6">
          <Image
            src={book.cover}
            alt={book.title}
            inferSize
            class=":uno: rounded w-[80px] object-fill!"
          />

          <div class=":uno: flex flex-col justify-center">
            <AppLink
              href={book.url}
              class=":uno: text-heading font-medium transition-colors hover:text-primary focus:text-primary inline-flex items-center space-x-[2px] w-fit leading-[1.75]"
            >
              <span>{book.title}</span>

              <Icon
                name="lucide:arrow-up-right"
                class=":uno: w-4 h-auto"
              />
            </AppLink>

            <p class=":uno: text-sm leading-normal italic">{book.subtitle}</p>
            <p class=":uno: mt-4">{book.author.join(" & ")}</p>
          </div>
        </li>
      );
    })
  }
</ul>
