---
import { Image } from 'astro:assets';
import ArrowUpRight from '~icons/lucide/arrow-up-right';

import AppLink from '@/components/astro/ui/AppLink.astro';
import { getCurrentlyReadBooks } from '@/scripts/now-reading';

const books = await getCurrentlyReadBooks();
---

<ul>
  {
    books.map((book) => {
      return (
        <li class=":uno: flex space-x-6">
          <Image
            src={book.cover}
            alt={book.title}
            inferSize
            class=":uno: rounded h-[120px] w-[80px] object-fill!"
          />

          <div class=":uno: flex flex-col justify-center">
            <AppLink
              href={book.url}
              class=":uno: group text-heading/80 font-medium inline-flex w-fit transition-colors items-center space-x-1 focus:text-heading hover:text-heading"
            >
              <span>{book.title}</span>

              <ArrowUpRight
                class=":uno: text-heading/50 flex-shrink-0 h-auto w-4 transition-all group-focus:text-heading group-hover:text-heading group-focus:rotate-45 group-hover:rotate-45"
              />
            </AppLink>

            <p class=":uno: text-sm leading-normal italic">{book.subtitle}</p>
            <p class=":uno: text-sm text-heading/80 mt-4 transition-colors">{book.author.join(' & ')}</p>
          </div>
        </li>
      );
    })
  }
</ul>
