---
import { Image } from "astro:assets";
import { Icon } from "astro-iconify";

import AppLink from "@/components/astro/ui/AppLink.astro";

import { getCurrentlyReadBooks } from "@/scripts/now-reading";

const books = await getCurrentlyReadBooks();
---

{
  books.map((book) => {
    return (
      <li class="flex space-x-6">
        <Image src={book.cover} alt={book.title} width={80} height={128} class="rounded" />

        <div class="flex flex-col justify-center">
          <AppLink
            external
            href={book.url}
            class="text-heading transition-colors hover:text-accent focus:text-accent flex items-center space-x-[2px]"
          >
            <span>
              {book.title}
            </span>

            <Icon pack="lucide" name="arrow-up-right" class="w-4 h-auto -mt-[2px]" />
          </AppLink>
          <p class="text-sm italic">{book.subtitle}</p>
          <p class="mt-4">{book.author.join(' & ')}</p>
        </div>
      </li>
    );
  })
}
