---
import { Icon } from "astro-icon/components";

import AppLink from "@/components/astro/ui/AppLink.astro";
import LogoContainer from "@/components/astro/ui/Card.astro";

import CPR from "@/components/astro/modules/home/project-icons/CPR.astro";
import Fav from "@/components/astro/modules/home/project-icons/Fav.astro";
import Dependent from "@/components/astro/modules/home/project-icons/OJK.astro";

const projects = [
  {
    icon: Fav,
    title: "Fav",
    description: "Modern favicon generator for modern websites",
    link: "https://fav.namchee.dev/",
    github: "https://github.com/Namchee/fav",
  },
  {
    icon: CPR,
    title: "Conventional PR",
    description: "Prevent bad PRs through set of customizable rules",
    github: "https://github.com/Namchee/conventional-pr",
  },
  {
    icon: Dependent,
    title: "OJK Invest API",
    description: "Verify Indonesian financial products' legality",
    link: "https://ojk-invest-api.namchee.dev/",
    github: "https://github.com/Namchee/ojk-invest-api",
  },
];
---

<ul class=":uno: space-y-4">
  {
    projects.map((project) => {
      return (
        <li class=":uno: flex space-x-4">
          <LogoContainer class=":uno: w-12 h-12" title={project.title}>
            <project.icon class=":uno: text-heading w-6 h-6 transition-colors" />
          </LogoContainer>

          <div class=":uno: flex-1 flex flex-col justify-between">
            <p class=":uno: text-heading font-medium transition-colors">{project.title}</p>

            <p class=":uno: text-sm leading-normal">{project.description}</p>
          </div>

          <div class=":uno: flex items-center space-x-4">
            {project.link && (
              <AppLink
                href={project.link}
                class=":uno: text-content transition-colors hover:text-heading focus:text-heading"
                aria-label={`Click to visit ${project.title}`}
              >
                <Icon name="lucide:external-link" class=":uno: w-4 h-auto" />
              </AppLink>
            )}
            {project.github && (
              <AppLink
                href={project.github}
                class=":uno: text-content transition-colors hover:text-heading focus:text-heading"
                aria-label={`Click to view source code of ${project.title}`}
              >
                <Icon name="simple-icons:github" class=":uno: w-4 h-auto" />
              </AppLink>
            )}
          </div>
        </li>
      );
    })
  }
</ul>
